<table>
  <% reviews.comments.each do |review_comment| %>
  <tr>
    <td><%= image_tag review_comment.customer.get_profile_image(80,80), class:"rounded-circle mr-2 profile-image" %>
    <%= link_to review_comment.customer.name , customer_path(review_comment.customer.id), class:"customer-name" %></td>
  </tr>
  <tr>
    <td class="col-10 border-bottom"><%= review_comment.comment %></td>
    <% if review_comment.customer == current_customer %>
    <td class="col-2"><%= link_to "コメント削除", review_comment_path(review_comment.review.id,review_comment.id), method: :delete,class:"btn btn-danger", style: "font-size: xx-small;" %></td>
    <% end %>
  </tr>
  <% end %>
 </table>

 <div class="form-group">
  <label for="newcomment">Comment</label>

<%= form_with(model:[reviews, comments], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに",class:"form-control", required: true %>
  <%= f.submit "送信",class: "btn btn-info mt-4"  %>
<% end %>
 </div>