
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-10 mx-auto border rounded px-0 my-5">
      <div class="album py-5 bg-light">
        <h5 class="ml-4">検索結果</h5>
        <div class="container">
          <div class="row">
          <% @reviews.each do |review| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <% if review.image.attached? %>
                <%= link_to review_path(review.id) do %>
                  <%= image_tag review.image, class:"card-img-top"; %>
                <% end %>
                <% end %>
                <div class="card-body">
                  <div class="card-text favorite-btn" id="favorite-btn_<%= review.id %>">
                    <%= render 'public/favorites/favorite-btn', review: review %>
                  </div>
                  <p class="card-text">
                    <%= review.store_name %>
                  </p>
                  <p class="card-text">
                    <% review.tags.each do |tag| %>
                      <span>#<%= tag.name %></span>
                    <% end %>
                  </p>
                  <% if review.customer == current_customer %>
                    <% link_to "編集", edit_review_path(review), class: "btn btn-success" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>