<div class="container">
  <div class="row">
    <div class="mx-auto col-11">
      <table class="table table-striped">
        <h4 class="mt-5">会員一覧</h4>
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>プロフィール画像</th>
            <th>氏名</th>
            <th>メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer|%>
          <tr>
            <td><%= customer.id %></td>
            <td><%= image_tag customer.get_profile_image(80,80),size: "100x100", style:"object-fit: cover;" %></td>
            <td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
          </tr>
          <% end %>
          <%= paginate @customers %>
        </tbody>
      </table>
    </div>
  </div>
</div>
