<!--管理者側のレビュー一覧ページ-->
<div class="container">
  <div class="row">
    <div class="mx-auto col-md-11">
      <table class="table table-striped">
          <h4 class="mt-5">レビュー一覧</h4>
        <thead>
          <tr>
            <th>ID</th>
            <th>レビュー画像</th>
            <th>タグ</th>
            <th>店名</th>
            <th>投稿者</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <th><%= review.id %></th>
            <td>
              <% if review.image.attached? %>
              <%= link_to admin_review_path(review.id) do %>
                <%= image_tag review.image, size: "200x200", class:"img-fluid"; %>
              <% end %>
              <% end %>
            </td>
            <td><% review.tags.each do |tag| %><span>#<%= tag.name %></span><% end %></td>
            <td><%= review.store_name %></td>
            <td>
              <%= link_to admin_customer_path(review.customer.id) do %>
                <%= review.customer.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
          <%= paginate @reviews %>
        </tbody>
      </table>
      <div class="d-flex flex-wrap">
        <% @tags.each do |tag| %>
        <div class="btn rounded-pill m-1 border border-secondary tag-borderline">
          <%= link_to tag.name , admin_search_tag_path(id: tag.id), style:"color: #000;" %>
          <%="(#{tag.review.count})" %>
        </div>
        <% end %>
        <button class="btn rounded-pill m-1 border border-secondary tag-borderline"><%= link_to "新しいタグを作成する>>", new_admin_tag_path, style:"color: #000;" %></button>
      </div>
    </div>
  </div>
</div>