<div class="container">
  <div class="row">
    <div class="mx-auto col-11">
      <table class="table table-striped">
          <h4 class="mt-5">レビュー一覧</h4>
        <thead>
          <tr>
            <th>ID</th>
            <th>レビュー画像</th>
            <th>タグ</th>
            <th>名前</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <th><%= review.id %></th>
            <td>
              <%= link_to admin_review_path(review.id) do %>
                <%= image_tag review.image, size: "200x200", class:"img-fluid"; %>
              <% end %>
            </td>
            <td><% review.tags.each do |tag| %><span>#<%= tag.name %></span><% end %></td>
            <td>
              <%= link_to admin_customer_path(review.customer.id) do %>
                <%= review.customer.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>