<div class="p-md-5 mx-md-3 mx-md-auto">
  <div class="row">
    <div class="col-md-11 mx-auto rounded border">
      <div class="col-md-8 mx-2 mx-auto">
        <!--会員プロフィール画像・名前-->
        <div class="card-title row mt-3">
          <%= image_tag @review.customer.get_profile_image(80,80), class:"rounded-circle mt-3 ml-3 profile-image" %>
          <div class="col-9"><%= link_to @review.customer.name ,admin_customer_path(@review.customer.id), class:"customer-name" %></div>
        </div>
      </div>
      <!--レビュー画像-->
      <div class="row"><%= image_tag @review.image, class:"card-img-top col-8 mx-2 mx-auto" %></div>
      <div class="col-8 mx-2 mx-auto mb-5">
        <!--いいね数-->
        <p class="card-text ">
          いいね数
          <%= @review.favorites.count %>
        </p>
        <!--店名-->
        <p class="card-text">
          店名
          <%= @review.store_name %>
        </p>
        <!--本文-->
        <p class="card-text">
          本文
          <%= @review.body %>
        </p>
        <!--タグ-->
        <p class="card-text">
          タグ
          <% @review.tags.each do |tag| %>
            <span><%= tag.name %></span>
          <% end %>
        </p>
        <!--価格-->
        <p class="card-text">
          価格
          <%= @review.price %>
        </p>
        <p class="card-text">
          住所
          <%= @review.address %>
        </p>
        <!--編集-->
        <%= link_to "編集", edit_admin_review_path(@review.id), class: "btn btn-info" %>
        <!--コメント-->
        <div class="my-4 border-top">コメント数：<%= @review.comments.count %></div>
        <table>
          <% @review.comments.each do |review_comment| %>
          <tr>
            <td><%= image_tag review_comment.customer.get_profile_image(80,80), class:"rounded-circle mr-2 profile-image" %>
            <%= link_to review_comment.customer.name , customer_path(review_comment.customer.id), class:"customer-name ml-4 mt-3" %></td>
            <td class="col-10"><%= review_comment.comment %></td>
            <td class="col-2"><%= link_to "コメント削除", review_comment_path(review_comment.review, review_comment), method: :delete,remote: true,class:"btn btn-danger", style: "font-size: xx-small;" %></td>
          </tr>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</div>