<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="p-4 mb-0 ml-5 font-weight-bold">
        <% @review_tags.each do |review_tags| %>
          #<%= review_tags.tag.name %>
        <% end %>
        </h5>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          <% @review_tags.each do |review_tags| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= link_to review_path(review_tags.review.id) do %>
                <%= image_tag review_tags.review.image, class:"card-img-top"; %>
              <% end %>
              <div class="card-body">
                <div class="card-text favorite-btn" id="favorite-btn_<%= review_tags.review.id %>">
                  <%= render 'public/favorites/favorite-btn', review: review_tags.review %>
                </div>
                <p class="card-text">
                  <%= review_tags.review.body %>
                </p>

              </div>
            </div>
          </div>
        <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>