<div class="p-md-5 mx-md-3 mx-md-auto">
  <div class="row">
    <div class="col-md-11 mx-auto rounded border">
      <div class="col-md-8 mx-2 mx-auto">
      <!--会員プロフィール画像・名前-->
      <div class="card-title row mt-3">
        <%= image_tag @review.customer.get_profile_image(80,80), class:"rounded-circle mt-3 ml-3 profile-image" %>
        <div class="col-9"><%= link_to @review.customer.name ,customer_path(@review.customer.id), class:"customer-name" %></div>
      </div>
    </div>
    <!--レビュー画像-->
    <div class="row"><%= image_tag @review.image, class:"card-img-top col-8 mx-auto"; %></div>

    <div class="col-8 mx-2 mx-auto mb-5">
      <!--いいねボタン-->
      <div class="card-text favorite-btn" id="favorite-btn_<%= @review.id %>">
          <%= render 'public/favorites/favorite-btn', review: @review %>
      </div>
      <!--本文-->
      <div class="card-text my-2">
        <%= @review.body %>
      </div>
      <!--店名-->
      <div class="card-text my-2">
        店名
        <%= @review.store_name %>
      </div>
      <!--タグ-->
      <div class="card-text my-2">
        タグ
        <% @review.tags.each do |tag| %>
          <span><%= tag.name %></span>
        <% end %>
      </div>
      <!--値段-->
      <div class="card-text my-2">価格
        <%= @review.price %>
      </div>
      <!--住所-->
      <div class="card-text my-2">住所
        <%= @review.address %>
      </div>
      <!--レビュー編集-->
      <div class="card-text">
        <% if @review.customer == current_customer %>
          <%= link_to "編集", edit_review_path(@review.id), class: "btn btn-sm btn-success" %>
        <% end %>
      </div>
      <!--コメント-->
      <div class="mt-4 border-top">コメント数：<%= @review.comments.count %></div>
      <% if customer_signed_in? %><div><%= render "public/comments/comment",reviews: @review ,comments: @comment %></div><% end %>
    </div>
  </div>
</div>
</div>