<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #D8BfD8;">
    <div class="container">
        <!--管理者ログイン時ロゴ-->
        <% if admin_signed_in? %>
          <a class="navbar-brand" href="/admin/homes/top"><span><%= image_tag "cafelog-logo.png", size: "200x130" %></span></a>
        <!--会員ログイン時、未ログイン時ロゴ-->
        <% else %>
          <a class="navbar-brand" href="/"><span><%= image_tag "cafelog-logo.png", size: "200x130" %></span></a>
        <% end %>
        <!--ハンバーガーメニュー-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <!--会員ログイン時-->
        <% if customer_signed_in? %>
          <li>
            <%= link_to 'Reviews', reviews_path, class: "nav-link text-body" %>
          </li>
          <li>
            <%= link_to 'New Review', new_review_path(current_customer),class: "nav-link text-body" %>
          </li>
          <li>
            <%= link_to 'My Page', customer_path(current_customer),class: "nav-link text-body" %>
          </li>
          <li>
            <%= link_to 'Logout', destroy_customer_session_path, method: :delete, class: "nav-link text-body" %>

          </li>
        <!--管理者ログイン時-->
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to 'レビュー一覧', admin_reviews_path, class: "nav-link text-body" %>
          </li>
          <li>
            <%= link_to '会員一覧', admin_customers_path, class: "nav-link text-body" %>
          </li-->
          <li>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-body" %>
          </li>
        <!--未ログイン時-->
        <% else %>
          <li>
            <%= link_to 'Sign up', new_customer_registration_path,class: "nav-link text-body" %>
          </li>
          <li>
            <%= link_to 'Log in', new_customer_session_path ,class: "nav-link text-body" %>
          </li>
          <li>
            <%= link_to 'guest login', guest_sign_in_path, method: :post ,class: "nav-link text-body" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>